<div class="main-Container previously-rejected">
    <div claas="sub-Container previously-rejected">
        <h4>Adhoc Sales Charge Request Rejected</h4>
    </div>
    <div class="content-Of-Body previously-rej-body">
        <p>
            Record related to this application was previously rejected.
        </p>
        <p>
            Please login to <a href="{{ environment.loginRedirectUrl }}"><u class="under-Line">RMA Back Office</u></a>  to view approval status for the application.
        </p>
    </div>
</div>
