<div class="decline">
  <div class="alertBox">
    <div class="alert flex">
      <mat-icon>error</mat-icon>
      <p class="alert_text">
        Declination Submitted
      </p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="follow-up">
    <h3>What’s Next?</h3>

    <div class="flex calls">
      <mat-icon>person_outline</mat-icon>
      <div class="text">
        <p class="mb-8 f-14 fw-700">Follow-Up Calls</p>
        <p class="f-14 content">Your Relationship Manager will contact you.</p>
      </div>
    </div>
  </div>

</div>
