.main-Container {
    margin-bottom: 15.125rem;
    margin-top: 40px;
    margin-left: 347px;
    margin-right: 347px;
    
}

.sub-Container {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.4;
    color: #333739;
}

.content-Of-Body {
    height: 120px;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
    color: #575a5c;
    padding-bottom: 2rem;
    padding-top: 27px;
    p{
        font-size: 16px;
    }
}
.under-Line{
    color: #ff0000;
}
