<div class="main-Container Switch-Rejected">
    <div claas="sub-Container Rejected-heading">
        <h4>Switch In Fees Waiver Rejected</h4>
    </div>
    <div class="content-Of-Body Rejected-msg">
        <p>
            Record related to this application was previously rejected.
        </p>
        <p>
            Please login to <a href="{{ environment.loginRedirectUrl }}"><u class="under-Line">RMA Back Office</u></a>  to view approval status for the application.
        </p>
    </div>
</div>

