<div class="main-Container switch-prev">
    <div claas="sub-Container switch-prev-heading">
        <h4>Switch In Fees Waiver Approved</h4>
    </div>
    <div class="content-Of-Body Switch-prev-msg">
        <p>
            Record related to this application was previously approved.
        </p>
        <p>
            Please login to <a href="{{ environment.loginRedirectUrl }}"><u class="under-Line">RMA Back Office</u></a>  to view approval status for the application.
        </p>
    </div>
</div>
