.container-error{
    padding: 0px 347px 0px 347px;
    .header{
        font-size: 20px;
        font-weight: bold;
        color: #333739;
        padding-top: 40px;
    }
    .content{
        font-size: 16px;
        font-weight: normal;
        color: #575a5c;
        padding-top: 32px;
    }
}