<div class="confirmation">
  <div class="alertBox">
    <div class="alert flex">
      <mat-icon>check_circle</mat-icon>
      <p class="alert_text">
        Application Submitted!
      </p>
    </div>
    <div class="reference">
      <p class="f-14">Reference Number</p>
      <p class="fw-700 f-16">[Ref 7000149]</p>
    </div>
  </div>

  <div class="thankyou">
    <p class="f-14">Thank you for your application!</p>
    <p class="f-14">We have sent the details to the following email: <span class="fw-700">nataliesche@email.com</span></p>
  </div>

  <mat-divider></mat-divider>

  <div class="follow-up">
    <h3>What’s Next?</h3>

    <div class="flex calls">
      <mat-icon>person_outline</mat-icon>
      <div class="text">
        <p class="mb-8 f-14 fw-700">Follow-Up Calls</p>
        <p class="f-14">Your RM will contact you to review your risk profile and guide you in choosing the investment product that suits your needs.</p>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="instructions">
    <p class="f-14 fw-700 mb-8">Register for a CIMB Clicks Account to View Your Investment</p>
    <p class="f-14">Download CIMB Clicks app to view your investment at your fingertips. </p>
  </div>

  <button mat-stroked-button color="warn" class="btn-text f-16 fw-700">Download CIMB Clicks App</button>
</div>
