<div class=" blockBody center_align">
  <div>
    <svg width="49" height="48" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon">
      <path d="M2.5 42h44l-22-38-22 38zm24-6h-4v-4h4v4zm0-8h-4v-8h4v8z" fill="#F66" />
    </svg>
  </div>
  <div class="info">
    <div>
      <h4>OTP Attempts Failed</h4>
    </div>
    <div>
      <p>You have tried to enter the OTP too many times. Please restart the process.</p>
    </div>
  </div>
  <div>
    <a><button (click)="canceling()" class="blockBtn">Restart</button></a>
  </div>
</div>