<div class="main-Container Adhoc-prev-appro">
    <div claas="sub-Container Adhoc-heading">
        <h4>Adhoc Sales Charge Request Approved</h4>
    </div>
    <div class="content-Of-Body Adhoc-msg">
        <p>
            Record related to this application was previously approved.
        </p>
        <p>
            Please login to <a href="{{ environment.loginRedirectUrl }}"><u class="under-Line">RMA Back Office</u></a>  to view approval status for the application.
        </p>
    </div>
</div>